<footer class="site-footer" role="contentinfo">

  <div class="wrapper mw1140p center">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper grid-2 has-gutter">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>E-mail : <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <p class="rss-subscribe">Inscrivez-vous aux <a href="{{ "/feed.xml" | prepend: site.baseurl }}">flux RSS</a></p>
      </div>

      <div>

      </div>
    </div>

  </div>

</footer>
